order.tinyminykids.com:3000

root * /app/dist

@api {
    path /sessions* /theme_settings* /users* /products* /orders* /table_configuration* /logs* /exportAllData* /importAllData* /gemini_api_key* /initialize_default_users* /seed_initial_product_data*
}

route {
    reverse_proxy @api localhost:3000
    file_server
}